body{
    background-color:lightblue;
}

header {
    text-align: center;
    color:lightslategray;
}

footer {
    text-align: center;
}

.header {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightskyblue;
    height: 75px;
}

.title {
    text-align: center;
    color: lightcyan;
}

.img-pets {
    height: 500px;
    margin: 20px auto;
    display: flex;
    object-fit: contain;
}

.text {
    padding: 20px;

}

.title-name {
    text-align: center;
    margin: auto;
    color: rgb(94, 83, 83);
}

.pet-date {
    text-align: center;
    color: rgb(94, 83, 83);
}

.description {
    text-align: center;
    color: rgb(94, 83, 83);
}

.download-container {
    text-align: center;
}

.download-btn {
    width: 15%;
    background-color: lightcyan;
    border-radius: 5px;
    color: rgb(59, 106, 136);
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    
}

.download-btn:hover {
    background-color: rgb(189, 179, 255);
}

.select-all-button {
    color: rgb(59, 106, 136);
    padding: 10px 25px;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    width: 15%;
    text-align: center;
    background-color: lightcyan;
    margin-top: 20px;
}

.select-all-button:hover {
    background-color: rgb(189, 179, 255);
}