body{
    background-color:lightblue;
}

header {
    text-align: center;
}

.title {
    text-align: center;
    color: lightcyan;
}

.img-pets {
    height: 500px;
    margin: 20px auto;
    display: flex;
    object-fit: contain;
}

.text-Div {
    padding: 20px;

}

.title-name {
    text-align: center;
    margin: auto;
    color: rgb(94, 83, 83);
}

.pet-date {
    text-align: center;
    color: rgb(94, 83, 83);
}

.description {
    text-align: center;
    color: rgb(94, 83, 83);
}

.download-container {
    text-align: center;
}

.download-btn {
    width: 15%;
    background-color: lightcyan;
    border-radius: 5px;
    color: skyblue;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
}